@page "/admin-page"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Admin PAGE!!!</p>
	</Authorized>
    <NotAuthorized>
        <p>Sorry but you are not authorized to view this page.</p>
    </NotAuthorized>
</AuthorizeView>




@code {
    public bool IsAdmin { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity.IsAuthenticated || !user.IsInRole("Admin"))
        {
            NavigationManager.NavigateTo("/");
        }
    }
}
